.searchAndFilterSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 20px;
}

.searchAndFilterSection > .searchForm {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 20px 0px;
}

.searchAndFilterSection > .searchForm > input {
    width: 100%;
    font-size: 18px;
    padding: 18px;
    border: 2px solid #ccc;
    border-radius: 50px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: .3s;
}

.searchAndFilterSection > .searchForm > input:focus, .searchAndFilterSection > .searchForm > input:hover {
    border: 2px solid grey;
}

.searchAndFilterSection > .searchForm > button {
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 20px;
    top: 50%;
    right: 15px;
    transform: translateY(-60%);
}

.searchAndFilterSection > .filterDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.searchAndFilterSection > .filterDiv > select {
    font-size: 16px;
    padding: 18px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.infringementSection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 20px;
}

