:root {
    --primary-color: rgba(189,214,236,255);
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    background: linear-gradient(135deg, var(--primary-color) 0%, white 15%, white 85%, var(--primary-color) 95%);
}