:root {
    --Red-primary-color: #d83734;
    --Blue-primary-color: #013050;
    --Blue-secondary-color: #bdd6ec;
    --Green-primary-color: #90ee90;
    --Green-secondary-color: #008000;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

html, body {
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
}