.modalSection {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    overflow: hidden;
}

.modalSection > .modalDiv {
    background-color: #fff;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 1px 1px 10px white;
    text-align: center;
    padding: 20px;
    max-height: 80vh;
    max-width: 500px;
    width: 90%;
    overflow-y: auto;
}

.modalSection > .modalDiv > .modalClose {
    position: relative;
    cursor: pointer;
    right: -40%;
    color: red;
    border: 2px solid red;
    border-radius: 30px;
    padding: 5px;
    font-size: 18px;
}

.modalSection > .modalDiv > .modalClose:hover {
    background-color: rgba(255, 0, 0, 0.3);
    color: white;
}

@media (max-width: 480px) {
    .modalSection > .modalDiv > .modalClose {
        font-size: 10px;
    }
}