@keyframes typing {
    from { width: 0 };
    to { width: 100% };
}

@keyframes blink-caret {
    50% { border-right-color: transparent };
    100% { border-right-color: grey };
  }

.header > .informations {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header > .informations > h1 {
    width: 0;
    max-width: fit-content;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    white-space: nowrap;
    color: var(--Blue-primary-color);
    border-right: 1px solid grey;
    overflow-x: hidden;
    animation: typing 8s steps(500) 1s infinite, blink-caret 0.7s step-end infinite;
}

.header > hr {
    margin: 10px;
    border: none;
    border-bottom: 3px var(--Blue-secondary-color) solid;
}

@media (min-width: 481px) and (max-width: 768px) {
    .header > .informations > h1 {
        font-size: 15px;
        width: 90%;
    }

    .header > hr {
        margin: 15px;
    }
}

@media (max-width: 480px) {
    .header > .informations > h1 {
        font-size: 15px;
        width: 90%;
    }

    .header > hr {
        margin: 15px;
    }
}