.header > .informations {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header > .informations > h1 {
    font-size: 20px;
    width: 40%;
    letter-spacing: 1px;
    text-align: center;
}

.header > hr {
    margin: 10px;
    border: none;
    border-bottom: 3px var(--primary-color) solid;
}

@media (min-width: 481px) and (max-width: 768px) {
    .header > .informations > h1 {
        font-size: 15px;
        width: 90%;
    }

    .header > hr {
        margin: 15px;
    }
}

@media (max-width: 480px) {
    .header > .informations > h1 {
        font-size: 15px;
        width: 90%;
    }

    .header > hr {
        margin: 15px;
    }
}