.h2 {
    margin-top: 10px;
}

.buttonsEditAndDeleteDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buttonsEditAndDeleteDiv > button {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    margin: 5px 0px;
    border: 1px solid var(--Blue-primary-color);
    border-radius: 10px;
    cursor: pointer;
    transition: .3s ease all;
}

.buttonsEditAndDeleteDiv > .editButton {
    background-color: var(--Green-primary-color);
}

.buttonsEditAndDeleteDiv > .editButton:hover {
    color: white;
    background-color: var(--Green-secondary-color);
}

.buttonsEditAndDeleteDiv > .deleteButton {
    background-color: #ff000080;
}

.buttonsEditAndDeleteDiv > .deleteButton:hover {
    color: white;
    background-color: var(--Red-primary-color);
}