.sectionSearchByPlate {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin-top: 20px;
}

.sectionSearchByPlate > label {
    display: block;
    text-align: start;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
}

.sectionSearchByPlate > input {
    width: 100%;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid var(--Blue-secondary-color);
    border-radius: 10px;
    text-transform: uppercase;
}

.sectionSearchByPlate > input:focus {
    border: 2px solid var(--Blue-primary-color);
    outline: none;
}

.sectionSearchByPlate > .submitBtn {
    cursor: pointer;
    padding: 12px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: rgba(0, 128, 0, 0.8);
}

.sectionSearchByPlate > .submitBtn:hover {
    background-color: var(--Green-secondary-color);
    transition: .3s ease all;
}